<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Facebook 2</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<div class="header">
  <div class="header__left">
    <img routerLink="/"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1200px-Facebook_f_logo_%282019%29.svg.png"
      alt=""
    />
    <div *ngIf="apiService.isAuthenticated" class="header__input">
      <span style="cursor: pointer" class="material-icons" (click)="searchUsersByName(userName)"> search </span>
      <input #userName type="text" placeholder="Search Facebook" />
    </div>
  </div>

  <div *ngIf="apiService.isAuthenticated" class="header__middle">
    <div class="header__option active">
      <span  (click)="goToTop()" class="material-icons"> home </span>
    </div>
<!--    <div class="header__option">-->
<!--      <span class="material-icons"> flag </span>-->
<!--    </div>-->
<!--    <div class="header__option">-->
<!--      <span class="material-icons"> subscriptions </span>-->
<!--    </div>-->
<!--    <div class="header__option">-->
<!--      <span class="material-icons"> storefront </span>-->
<!--    </div>-->
    <div class="header__option">
      <span class="material-icons"> supervised_user_circle </span>
    </div>
  </div>

  <div *ngIf="apiService.isAuthenticated" class="header__right">
    <div routerLink="user-profile" class="header__info">
      <img
        class="user__avatar"
        src="{{user?.image}}"
        alt=""
      />
      <h4>{{user?.firstName}} {{user?.lastName}}</h4>
    </div>
    <span class="material-icons"> add </span>
    <span class="material-icons"> forum </span>
    <div *ngIf="friendRequests && friendRequests.length > 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="container-icon">
        <span class="material-icons"  (click)="showNotification()">notifications_active</span>
        <div class="badge">{{friendRequests?.length}}</div>
      </div>
    </ng-template>

    <ng-template #elseBlock>
      <div class="container-icon">
        <span class="material-icons"  (click)="showNotification()">notifications_active</span>
      </div>
    </ng-template>
    <div id="notification-modal" class="modal">
      <div class="title-container">
        <h4 class="title">Notifications</h4>
      </div>
      <ul class="notification-list">
        <div *ngFor="let request of friendRequests">
          <div class="notification__info">
            <img class="user__avatar" src="{{request?.owner?.image}}" (click)="getUserData(request?.owner?._id)">
            <h4>{{request?.owner?.fullName}} sent you friend request!</h4>
          </div>
          <div class="button-container">
            <button class="button-style" (click)="addUser($event, request?.owner?._id)">Add</button>
            <button class="button-style" (click)="ignoreUser($event, request?.owner?._id)">Ignore</button>
          </div>
        </div>
      </ul>
    </div>
    <button (click)="logout()" class="material-icons"> expand_more </button>
  </div>
</div>

<!--<ul class="notification-list" *ngFor="let request of friendRequests">-->
<!--  <div>-->
<!--    <div class="notification__info">-->
<!--      <img-->
<!--        class="user__avatar"-->
<!--        src="{{request?.owner?.image}}"-->
<!--        alt=""-->
<!--      />-->
<!--      <h4>{{request?.owner?.fullName}} sent you friend request!</h4>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--      <button class="button-style">Add</button>-->
<!--      <button class="button-style">Ignore</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</ul>-->



<!--<ul class=“notification-list” *ngFor="let request of friendRequests"> -->
<!--  <div> <div class="notification__info">-->
<!--    <img class=“user__avatar” src="{{request?.owner?.image}}" alt=“” /><!– –>-->
<!--    <h4>{{request?.owner?.fullName}} sent you friend request!</h4> -->
<!--  </div> -->
<!--    <div class=“button-container”>-->
<!--      <button class=“button-style”>Add</button> -->
<!--      <button class=“button-style”>Ignore</button>-->
<!--    </div>-->
<!--  </div> -->
<!--</ul>-->
