<body>
<div id="profile-upper">
  <div id="profile-banner-image">
    <img [src]="user?.coverPhoto" *ngIf="user?.coverPhoto">
  </div>
  <div id="profile-d">
    <div class="modal-backdrop" style="display: none"></div>
    <div id="profile-pic">
      <img src="{{user?.image}}">
    </div>
    <div id="u-name">{{user?.firstName}} {{user?.lastName}}</div>
  </div>
  <div id="black-grd"></div>
</div>


<div class="main__body">
  <div class="feed">

    <!-- post starts -->
    <div class="post" *ngFor="let post of posts">
      <div class="post__top">
        <img
          class="user__avatar post__avatar"
          src="{{user?.image}}"
          alt=""
        />
        <div class="post__topInfo">
          <h3>{{user?.firstName}} {{user?.lastName}}</h3>
          <p>25 April at 20:30</p>
        </div>
      </div>

      <div class="post__bottom">
        <p>{{post?.post}}</p>
      </div>

      <div class="post__image" *ngIf="post?.image">
        <img
          src="{{post?.image}}"
          alt=""
        />
      </div>

      <div class="post__options">
        <div class="post__option">
          <span class="material-icons"> thumb_up </span>
          <p>Like</p>
        </div>

        <div class="post__option">
          <span class="material-icons"> chat_bubble_outline </span>
          <p>Comment</p>
        </div>

        <div class="post__option">
          <span class="material-icons"> near_me </span>
          <p>Share</p>
        </div>
      </div>
    </div>
    <!-- post ends -->

    <!-- post starts -->
    <div class="post">
      <div class="post__top">
        <img
          class="user__avatar post__avatar"
          src="{{user?.image}}"
          alt=""
        />
        <div class="post__topInfo">
          <h3>{{user?.firstName}} {{user?.lastName}}</h3>
          <p>25 April at 20:30</p>
        </div>
      </div>

      <div class="post__bottom">
        <p>Post Without Image</p>
      </div>

      <div class="post__options">
        <div class="post__option">
          <span class="material-icons"> thumb_up </span>
          <p>Like</p>
        </div>

        <div class="post__option">
          <span class="material-icons"> chat_bubble_outline </span>
          <p>Comment</p>
        </div>

        <div class="post__option">
          <span class="material-icons"> near_me </span>
          <p>Share</p>
        </div>
      </div>
    </div>
  </div>

  <!-- feed ends -->

  <div style="flex: 0.33" class="widgets">
    <div
      class="fb-page"
      data-href="https://www.facebook.com/facebook"
      data-tabs="timeline"
      data-width="500"
      data-height="1000"
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
    >
    </div>
  </div>
</div>




<div class="modal-backdrop" id="myBackdrop" style="display: none"></div>
</body>


<!-- main body ends -->

<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0"
  nonce="zUxEq08J"
></script>




