<div class="container">
  <div class="title">Registration</div>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details">First Name</span>
          <input type="text" placeholder="Enter your name" required #inputFirstName>
        </div>
        <div class="input-box">
          <span class="details">Last Name</span>
          <input type="text" placeholder="Enter your name" required #inputLastName>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" placeholder="Enter your email" required #inputEmail>
        </div>
        <div class="input-box">
          <label for="birthday">Birthday:</label>
          <input type="date" id="birthday" name="birthday" #inputBirthday>
        </div>
      </div>
      <div class="gender-details">
        <input type="radio" name="gender" id="dot-1" #inputMale>
        <input type="radio" name="gender" id="dot-2" #inputFemale>
        <input type="radio" name="gender" id="dot-3">
        <span class="gender-title">Gender</span>
        <div class="category">
          <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
          </label>
        </div>
      </div>
      <div class="user-details">
        <div class="input-box">
          <span class="details">Password</span>
          <input type="text" placeholder="Enter your password" required #inputPassword>
        </div>
        <div class="input-box">
          <span class="details">Confirm Password</span>
          <input type="text" placeholder="Confirm your password" required #inputRepass>
        </div>
      </div>
      <div class="button">
        <input (click)="getData($event, inputFirstName, inputLastName, inputEmail, inputPassword, inputRepass, getGender(inputMale, inputFemale), inputBirthday)" type="submit" value="Register">
      </div>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </form>
  </div>
</div>
