* {
  margin: 0;
  box-sizing: border-box;
}

.user__avatar {
  border-radius: 50%;
  width: 45px;
}

/* sidebar  */

.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow h4 {
  margin-left: 20px;
  font-weight: 600;
}

.sidebarRow .material-icons {
  font-size: xx-large;
  color: #2e81f4;
}

/* story */
.story {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
}

.story__avatar {
  margin: 10px;
  color: blue;
}

.story h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.storyReel {
  padding: 10px 0;
  display: flex;
}

.main__body {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to a new line if needed */
}

body {
  background-color: #f1f2f5;
}

.feed {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sidebar {
  padding: 25px 10px;
  flex: 0.33;
}

.widgets {
  flex: 0.33;
  padding: 30px;
}

.left-sidebar {
  flex: 0.5; /* Adjust the width as needed */
  display: none; /* Hide it by default */
}

/* Show the left sidebar on larger screens */
@media screen and (min-width: 900px) {
  .left-sidebar {
    display: block; /* Show it on larger screens */
  }
}


