<div class="main__body">
  <div class="sidebar">
    <div class="sidebarRow">
      <img
        class="user__avatar"
        src="{{user?.image}}}"
        alt=""
      />
      <h4>{{user?.firstName}} {{user?.lastName}}</h4>
    </div>

    <div class="sidebarRow">
      <span class="material-icons"> emoji_flags </span>
      <h4>Pages</h4>
    </div>

    <div class="sidebarRow">
      <span class="material-icons"> people </span>
      <h4>People</h4>
    </div>

    <div class="sidebarRow">
      <span class="material-icons"> chat </span>
      <h4>Messenger</h4>
    </div>

    <!--    <div class="sidebarRow">-->
    <!--      <span class="material-icons"> storefront </span>-->
    <!--      <h4>Marketplace</h4>-->
    <!--    </div>-->

    <!--    <div class="sidebarRow">-->
    <!--      <span class="material-icons"> video_library </span>-->
    <!--      <h4>Videos</h4>-->
    <!--    </div>-->

    <!--    <div class="sidebarRow">-->
    <!--      <span class="material-icons"> expand_more </span>-->
    <!--      <h4>More</h4>-->
    <!--    </div>-->
  </div>
</div>
